.cartaUnselect {

    border: solid 1px black;
    padding: 40px;
    margin: 10px;
    gap: 5px;   
    
}

.cartaSelect {

    border: solid 3px rgb(50, 227, 11);
    padding: 40px;
    margin: 10px;
    gap: 5px;

}

.botones {
    display: flex;
    flex-direction: column;
}

.botonesAttack {
    background-color: brown;
    padding: 10px;
}